version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.12

    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run:
         name: Install operator-framework
         command: |
            mkdir -p $GOPATH/src/github.com/operator-framework
            cd $GOPATH/src/github.com/operator-framework
            git clone https://github.com/operator-framework/operator-sdk
            cd operator-sdk
            git checkout master
            make dep
            make install
      - run: operator-sdk build .
      - run: operator-sdk tests local .
